/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

button {
  font-family: inherit;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}


#root {
  width: 100%;
  padding: 2em;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table-container {
  width: 100%;
}

.header {
  color: #aaa
}

.row {
  display: grid;
  grid-template-columns: 1fr 80px 120px repeat(2, 120px) ;
  grid-template-rows: 35px;
  gap: 2em;
  /*border: solid 1px #666;*/
}

.device-state {
  text-transform: capitalize;
}

.refresh-button {
  align-self: end;
  font-size: .9em;
  border-radius: 3px;
  margin-top: 2em;
}
